@media only screen and (max-width: 699px) {
  section {
    display: none;
  }
  .social-links {
    display: none;
  }

  /*---------------------------------- Header ---------------------------------*/
  header {
    display: flex;
    width: 100%;
    padding: 3%;
  }
  header div {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 80%;
  }
  header div img {
    width: 100px;
  }
  header div p {
    margin: 0;
    width: 50%;
    font-size: 9vw;
    font-weight: bold;
  }
  header nav #navigation {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 70, 95, 0.95);
    margin: 0;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    z-index: 1;
  }
  header nav #navigation .center {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: start;
    width: 55vw;
    height: 80vh;
  }
  header nav #navigation a {
    color: white;
    text-decoration: none;
    text-align: left;
    font-size: 5vw;
  }
  header nav #navigation a:active {
    text-decoration: underline;
  }
  header nav {
    display: flex;
    align-items: center;
  }
  header nav .menu {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    background: white;
    font-size: 7vw;
    cursor: pointer;
    width: 8vw;
    height: 8vw;
    padding: 0;
  }

  header nav #navigation .social-links a {
    color: white;
    font-size: 10vw;
    height: fit-content;
    margin: 0;
  }
  header nav #navigation .close {
    position: fixed;
    top: 5vw;
    right: 5vw;
    font-size: 10vw;
    color: white;
    z-index: inherit;
  }
  /*---------------------------------- Content ---------------------------------*/
  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .reverse {
    flex-direction: column-reverse;
  }
  .content .img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
  }
  .content .img img {
    width: 100%;
    padding: 5% 0;
  }
  .content .text {
    text-align: center;
    width: 100%;
    height: fit-content;
    color: white;
    background-color: rgb(8, 80, 109);
    font-weight: bold;
    padding: 0 2%;
    align-items: center;
    justify-content: center;
  }
  .content .text .split {
    display: flex;
    flex-direction: column;
  }
  .content .text span {
    line-height: 200%;
    font-size: calc(100% + 10px);
  }
  .content .text h1 {
    font-size: calc(100% + 20px);
  }
  .content .text p {
    text-align: justify;
    font-weight: 100;
    font-size: 16px;
    padding: 0 4%;
  }
  /*---------------------------------- Vesti i Nastani -----------------------------*/
  .vesti-nastani {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
    height: fit-content;
    justify-content: space-evenly;
    align-items: center;
    padding: 2% 0;
  }
  .vesti-nastani h1 {
    color: black;
    width: 100%;
    height: 15vw;
    text-align: center;
    font-size: 10vw;
  }
  .vesti-nastani div {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: inherit;
    height: inherit;
  }

  .vesti-nastani div .vest-nastan {
    display: flex;
    flex-direction: column;
    width: 99%;
    height: fit-content;
    border: 1px solid black;
    margin: 2% 0;
  }
  .vesti-nastani div .vest-nastan .slika {
    align-items: start;
    width: 100%;
  }
  .vesti-nastani div .vest-nastan .slika img {
    width: 100%;
  }
  .vesti-nastani div .vest-nastan .naslov {
    justify-content: left;
    font-weight: bold;
    font-size: 6vw;
    width: 100%;
    padding: 3%;
    text-align: center;
    cursor: pointer;
  }
  .vesti-nastani div .vest-nastan .naslov:hover {
    text-decoration: underline;
  }
  .vesti-nastani div .vest-nastan .objaveno {
    flex-direction: row;
    justify-content: left;
    font-size: 3.5vw;
    width: 100%;
    color: rgb(102, 102, 102);
    margin-bottom: 2%;
  }
  .vesti-nastani div .vest-nastan .objaveno i {
    width: auto;
    height: auto;
    margin: 0 2%;
  }
  .vesti-nastani .povekje {
    height: fit-content;
  }
  .vesti-nastani .povekje button {
    border: 0;
    background-color: rgb(8, 80, 109);
    color: white;
    font-size: 4.5vw;
    padding: 2vw 0;
    width: 80%;
    border-radius: 2vw;
    cursor: pointer;
  }

  /*------------------------------------ Footer ------------------------------------*/
  footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2% 5%;
  }
  footer .adresa p {
    line-height: 250%;
    color: rgb(73, 73, 73);
  }
  footer .adresa a {
    color: rgb(73, 73, 73);
    text-decoration: none;
    cursor: pointer;
  }
  .copyright {
    text-align: center;
    font-weight: bold;
  }
  footer .contact {
    width: 100%;
  }
  footer .contact form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
  }
  footer .contact input,
  footer .contact textarea {
    border: 0;
    border-bottom: 2px solid gray;
    font-size: 18px;
    width: 100%;
    outline: 0;
  }

  footer .contact input:hover,
  footer .contact textarea:hover {
    border-bottom: 2px solid rgb(56, 56, 56);
  }

  footer .contact p {
    color: gray;
    font-size: 18px;
  }

  footer .contact .email button {
    border: 0;
    background-color: white;
    font-size: 5vw;
    margin: 5% 50%;
    transform: translateX(-50%);
    color: maroon;
    font-weight: bold;
    cursor: pointer;
  }
  .gimnazijaInfo {
    width: 100%;
    margin: auto;
  }
  .gimnazijaInfo img {
    width: 100%;
    height: 40vw;
    object-fit: cover;
  }

  .gimnazijaInfo p {
    text-align: justify;
    font-size: 4vw;
    padding: 5%;
  }
  .gimnazijaInfo p i {
    font-size: 4.4vw;
  }
  .gimnazijaInfo p b {
    font-size: 4.8vw;
  }

  .vraboteni {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .vraboten {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    background-color: rgb(238, 234, 234);
    padding: 2% 2%;
    margin: 1% 0;
  }
  .vraboteni .vraboten p {
    font-size: 5vw;
    margin: 3% 0;
  }
  .vraboteni .vraboten :nth-child(1 of p) {
    font-weight: bold;
  }
  .vraboteni .vraboten :nth-child(2 of p) {
    font-style: italic;
  }
  .vraboteni .vraboten img {
    margin-bottom: 3%;
    width: 50vw;
  }
}
