* {
  font-family: Arial, Helvetica, sans-serif;
}
html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
i {
  overflow: hidden;
}
.bg-color {
  display: flex;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: linear-gradient(
    to bottom right,
    rgb(13, 76, 192),
    rgb(158, 180, 252)
  );
}
.RegisterLogin {
  backdrop-filter: blur(10px);
}
#accountDropdown .options a:hover {
  text-decoration: underline;
}
