* {
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}
body {
  margin: 0;
  padding: 0;
}
@media only screen and (max-width: 425px) {
  section {
    display: none;
  }

  header {
    display: flex;
    width: 100%;
    padding: 3%;
  }
  header div {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 80%;
  }
  header div img {
    width: 100px;
  }
  header div p {
    margin: 0;
    width: 50%;
    font-size: calc(100% + 10px);
    font-weight: bold;
  }
  header nav ul {
    display: none;
  }
  header nav {
    display: flex;
    align-items: center;
  }
  header nav .menu {
    display:flex;
    justify-content: center;
    align-items: center;
    border: 0;
    background: white;
    font-size: 30px;
    cursor: pointer;
    width: 31px;
    height: 31px;
    background-color: red;
    padding:0;
  }
  header nav .menu i {
    background-color: orange;
    margin:0;
    padding:0;
    width: inherit;
    height: inherit;

  }
  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .reverse {
    flex-direction: column-reverse;
  }
  .content .img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
  }
  .content .img img {
    width: 100%;
    padding: 5% 0;
  }
  .content .text {
    text-align: center;
    width: 100%;
    height: fit-content;
    color: white;
    background-color: rgb(8, 80, 109);
    font-weight: bold;
    padding: 0 2%;
    align-items: center;
    justify-content: center;
  }
  .content .text .split {
    display: flex;
    flex-direction: column;
  }
  .content .text span {
    line-height: 200%;
    font-size: calc(100% + 10px);
  }
  .content .text h1 {
    font-size: calc(100% + 20px);
  }
  .content .text p {
    text-align: justify;
    font-weight: 100;
    font-size: 16px;
    padding: 0 4%;
  }

  .social-links {
    display: flex;
    flex-direction: row;
    position: fixed;
    bottom: 3vw;
    left: 50%;
    transform: translateX(-50%);
    justify-content: space-evenly;
    align-items: center;
    width: 50vw;
    background-color: rgba(255, 255, 255, 0.288);
    padding: 2% 0;
    border-radius: 3vw;
    backdrop-filter: blur(10px);
  }
  .social-links a {
    line-height: 50%;
    font-size: calc(100% + 10px);
    color: black;
  }

  footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2% 5%;
  }
  footer .adresa p {
    line-height: 250%;
    color: rgb(73, 73, 73);
  }
  footer .adresa a {
    color: rgb(73, 73, 73);
    text-decoration: none;
    cursor: pointer;
  }
  .copyright {
    text-align: center;
    font-weight: bold;
  }
  footer .contact {
    width: 100%;
  }
  footer .contact form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
  }
  footer .contact input,
  footer .contact textarea {
    border: 0;
    border-bottom: 2px solid gray;
    font-size: 18px;
    width: 120%;
    outline: 0;
  }

  footer .contact input:hover,
  footer .contact textarea:hover {
    border-bottom: 2px solid rgb(56, 56, 56);
  }

  footer .contact p {
    color: gray;
    font-size: 18px;
  }

  footer .contact .email button {
    border: 0;
    background-color: white;
    font-size: 20px;
    margin: 5% 33%;
    color: maroon;
    font-weight: bold;
    cursor: pointer;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  section {
    display: none;
  }

  header {
    display: flex;
    width: 100%;
    padding: 3%;
  }
  header div {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 80%;
  }
  header div img {
    width: 100px;
  }
  header div p {
    margin: 0;
    width: 50%;
    font-size: calc(100% + 3vw);
    font-weight: bold;
  }
  header nav ul {
    display: none;
  }
  header nav {
    display: flex;
    align-items: center;
  }
  header nav .menu {
    border: 0;
    background: white;
    font-size: 30px;
    cursor: pointer;
  }

  .content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 50vw;
    overflow: hidden;
  }
  .content .img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
  }
  .content .img img {
    width: 100%;
    padding: 5% 0;
  }
  .content .text {
    display: flex;
    text-align: center;
    width: 100%;
    height: 100%;
    color: white;
    background-color: rgb(8, 80, 109);
    font-weight: bold;
    padding: 0 2%;
    align-items: center;
    justify-content: center;
  }
  .content .text .split {
    display: flex;
    flex-direction: column;
  }
  .content .text span {
    line-height: 200%;
    font-size: calc(100% + 3.5vw);
  }
  .content .text h1 {
    font-size: calc(100% + 20px);
  }
  .content .text p {
    text-align: justify;
    font-weight: 100;
    font-size: 16px;
    padding: 0 4%;
  }

  .social-links {
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom: 0;
    left: 1.3%;
    justify-content: space-evenly;
    align-items: center;
    height: 150px;
  }

  .social-links a {
    font-size: calc(100% + 10px);
    color: black;
  }

  footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2% 5%;
  }
  footer .adresa p {
    line-height: 250%;
    color: rgb(73, 73, 73);
  }
  footer .adresa a {
    color: rgb(73, 73, 73);
    text-decoration: none;
    cursor: pointer;
  }
  .copyright {
    text-align: center;
    font-weight: bold;
  }
  footer .contact {
    width: 100%;
  }
  footer .contact form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
  }
  footer .contact input,
  footer .contact textarea {
    border: 0;
    border-bottom: 2px solid gray;
    font-size: 18px;
    width: 120%;
    outline: 0;
  }

  footer .contact input:hover,
  footer .contact textarea:hover {
    border-bottom: 2px solid rgb(56, 56, 56);
  }

  footer .contact p {
    color: gray;
    font-size: 18px;
  }

  footer .contact .email button {
    border: 0;
    background-color: white;
    font-size: 20px;
    margin: 5% 50%;
    transform: translateX(-50%);
    color: maroon;
    font-weight: bold;
    cursor: pointer;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1365px) {
  section {
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 0.5vw 2vw;
    padding-bottom: 0;
  }
  section .account {
    display: flex;
    justify-content: right;
    width: 10vw;
    height: fit-content;
    padding: 0 2vw;
  }

  section button {
    background: none;
    border: 0;
    cursor: pointer;
    width: 40%;
    height: 50%;
  }
  section button img {
    width: 100%;
  }

  section button:hover img {
    filter: contrast(20%);
  }

  header {
    display: flex;
    width: 100%;
    padding-bottom: 2vw;
  }
  header div {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 40%;
  }
  header div img {
    width: 100px;
  }
  header div p {
    margin: 0;
    width: 50%;
    font-size: 3.5vw;
    font-weight: bold;
  }
  header nav {
    display: flex;
    align-items: center;
    justify-content: right;
    width: 100%;
  }
  header nav .menu {
    display: none;
  }
  header nav ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0;
    width: 80%;
  }

  header nav ul li {
    list-style-type: none;
  }
  header nav ul li a {
    color: black;
    text-decoration: none;
    font-size: 1.5vw;
  }
  header nav ul li:hover a {
    color: rgb(24, 75, 184);
  }

  .content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 50vw;
    overflow: hidden;
  }
  .content .img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
  }
  .content .img img {
    width: 100%;
    padding: 5% 0;
  }
  .content .text {
    display: flex;
    text-align: center;
    width: 100%;
    height: 100%;
    color: white;
    background-color: rgb(8, 80, 109);
    font-weight: bold;
    padding: 0 2%;
    align-items: center;
    justify-content: center;
  }
  .content .text .split {
    display: flex;
    flex-direction: column;
  }
  .content .text span {
    line-height: 200%;
    font-size: calc(100% + 3.5vw);
  }
  .content .text h1 {
    font-size: calc(100% + 20px);
  }
  .content .text p {
    text-align: justify;
    font-weight: 100;
    font-size: 16px;
    padding: 0 4%;
  }

  .social-links {
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom: 0;
    left: 1.3%;
    justify-content: space-evenly;
    align-items: center;
    height: 150px;
  }

  .social-links a {
    font-size: calc(100% + 10px);
    color: black;
  }

  footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2% 5%;
  }
  footer .adresa p {
    line-height: 250%;
    color: rgb(73, 73, 73);
  }
  footer .adresa a {
    color: rgb(73, 73, 73);
    text-decoration: none;
    cursor: pointer;
  }
  .copyright {
    text-align: center;
    font-weight: bold;
  }
  footer .contact {
    width: 100%;
  }
  footer .contact form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
  }
  footer .contact input,
  footer .contact textarea {
    border: 0;
    border-bottom: 2px solid gray;
    font-size: 18px;
    width: 120%;
    outline: 0;
  }

  footer .contact input:hover,
  footer .contact textarea:hover {
    border-bottom: 2px solid rgb(56, 56, 56);
  }

  footer .contact p {
    color: gray;
    font-size: 18px;
  }

  footer .contact .email button {
    border: 0;
    background-color: white;
    font-size: 20px;
    margin: 5% 50%;
    transform: translateX(-50%);
    color: maroon;
    font-weight: bold;
    cursor: pointer;
  }
}
@media only screen and (min-width: 1366px) {
  section {
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 0.5vw 2vw;
    padding-bottom: 0;
  }
  section .account {
    display: flex;
    justify-content: right;
    width: 8%;
    height: fit-content;
    padding: 0 2vw;
  }

  section button {
    background: none;
    border: 0;
    cursor: pointer;
    width: 40%;
    height: 50%;
  }
  section button img {
    width: 100%;
  }

  section button:hover img {
    filter: contrast(20%);
  }

  header {
    display: flex;
    padding: 0 2% 2%;
  }
  header div img {
    width: 5vw;
  }
  header div {
    display: flex;
    align-items: end;
    justify-content: space-evenly;
  }
  header div p {
    margin: 0;
    width: 60%;
    font-size: 2vw;
    font-weight: bold;
  }
  header nav {
    display: flex;
    align-items: center;
    justify-content: right;
    width: 100%;
  }
  header nav .menu {
    display: none;
  }
  header nav ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0;
    width: 70%;
  }

  header nav ul li {
    list-style-type: none;
  }
  header nav ul li a {
    color: black;
    text-decoration: none;
    font-size: 1.3vw;
  }
  header nav ul li:hover a {
    color: rgb(24, 75, 184);
  }
  .content {
    display: flex;
    width: 90%;
    height: 50vw;
    overflow: hidden;
    margin: auto;
  }

  .content .text {
    text-align: center;
    width: 40%;
    color: white;
    background-color: rgb(8, 80, 109);
    height: 100%;
    font-weight: bold;
    padding: 0 2%;
  }
  .split {
    display: flex;
    flex-direction: column;
  }
  .content .text span {
    font-size: 4.5vw;
  }
  .content .text h1 {
    text-align: left;
    font-size: 4vw;
  }
  .content .text p {
    text-align: justify;
    font-weight: 100;
    font-size: 1.8vw;
  }
  .center {
    margin: 50% 0;
  }
  .content .text span {
    width: 100%;
    margin: 0;
  }

  .content .img {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(50, 132, 165);
    width: 60%;
  }

  .content .img img {
    width: 98%;
    height: 98%;
  }

  .social-links {
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom: 0;
    left: 0.6vw;
    justify-content: space-evenly;
    align-items: center;
    height: 14vw;
    overflow: hidden;
  }

  .social-links a {
    font-size: 3vw;
    color: black;
  }

  .social-links a:hover {
    color: darkslategray;
  }

  footer {
    display: flex;
    justify-content: space-between;
    padding: 2% 5%;
  }
  footer .adresa p {
    line-height: 250%;
    font-size: 1vw;
    color: rgb(73, 73, 73);
  }
  footer .adresa a {
    color: rgb(73, 73, 73);
    text-decoration: none;
    cursor: pointer;
  }
  .copyright {
    margin-left: 5%;
    font-weight: bold;
  }
  footer .contact {
    width: 50vw;
  }
  footer .contact form {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
  }
  footer .contact input,
  footer .contact textarea {
    border: 0;
    border-bottom: 2px solid gray;
    font-size: 1.5vw;
    width: 20vw;
    outline: 0;
  }

  footer .contact input:hover,
  footer .contact textarea:hover {
    border-bottom: 2px solid rgb(56, 56, 56);
  }

  footer .contact p {
    color: gray;
    font-size: 1.3vw;
  }
  footer .contact .email {
    display: flex;
    flex-direction: column;
  }
  footer .contact .email button {
    border: 0;
    background-color: white;
    font-size: 2vw;
    margin: 0;
    color: maroon;
    font-weight: bold;
    cursor: pointer;
  }
}
