@media only screen and (min-width: 700px) and (max-width: 1023px) {
  section {
    display: none;
  }

  header {
    display: flex;
    width: 100vw;
    padding: 3% 5%;
    box-sizing: border-box;
  }
  header div {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 60%;
  }
  header div img {
    width: 100px;
  }
  header div p {
    margin: 0 5%;
    width: 50%;
    font-size: calc(100% + 3vw);
    font-weight: bold;
  }
  header nav {
    display: flex;
    justify-content: right;
    width: 40%;
  }
  header nav #navigation {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    background-color: rgba(0, 70, 95, 0.95);
    margin: 0;
    width: 0;
    height: 100vh;
    flex-direction: column;
    z-index: 1;
  }
  header nav #navigation .center {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: start;
    width: 70%;
    height: 80vh;
  }

  header nav #navigation a {
    color: white;
    text-decoration: none;
    text-align: left;
    font-size: 3vw;
    width: max-content;
  }
  header nav #navigation .admin {
    color: maroon;
    font-weight: bold;
  }
  header nav #navigation a:active {
    text-decoration: underline;
  }
  header nav {
    display: flex;
    align-items: center;
  }
  header nav .menu {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    background: white;
    font-size: 5vw;
    cursor: pointer;
    width: 8vw;
    height: 8vw;
    padding: 0;
  }

  header nav #navigation .social-links {
    display: none;
  }
  header nav #navigation .close {
    position: fixed;
    top: 3vw;
    right: 3vw;
    font-size: 4vw;
    color: white;
    z-index: inherit;
  }

  .content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 50vw;
    margin: auto;
    overflow: hidden;
  }
  .content .img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
  }
  .content .img img {
    width: 100%;
    padding: 5% 0;
  }
  .content .text {
    display: flex;
    text-align: center;
    width: 100%;
    height: 100%;
    color: white;
    background-color: rgb(8, 80, 109);
    font-weight: bold;
    padding: 0 2%;
    align-items: center;
    justify-content: center;
  }
  .content .text .split {
    display: flex;
    flex-direction: column;
  }
  .content .text span {
    line-height: 200%;
    font-size: calc(100% + 3.5vw);
  }
  .content .text h1 {
    font-size: calc(100% + 20px);
  }
  .content .text p {
    text-align: justify;
    font-weight: 100;
    font-size: 16px;
    padding: 0 4%;
  }

  .vesti-nastani {
    display: flex;
    flex-direction: column;
    width: 95%;
    height: fit-content;
    align-items: center;
    padding: 2% 0;
    margin: auto;
  }
  .vesti-nastani h1 {
    color: black;
    width: 100%;
    height: 9vw;
    text-align: center;
    font-size: 7vw;
    margin: 0;
  }
  .vesti-nastani div {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: start;
    width: inherit;
    height: inherit;
  }

  .vesti-nastani div .vest-nastan {
    display: flex;
    flex-direction: column;
    width: 70%;
    height: fit-content;
    border: 1px solid black;
    margin: 1%;
    flex: 0 0 46%;
  }
  .vesti-nastani div .vest-nastan:nth-child(n + 3) {
    display: none;
  }
  .vesti-nastani div .vest-nastan .slika {
    align-items: start;
    width: 100%;
  }
  .vesti-nastani div .vest-nastan .slika img {
    width: 100%;
  }
  .vesti-nastani div .vest-nastan .naslov {
    width: 100%;
  }
  .vesti-nastani div .vest-nastan .naslov p {
    font-weight: bold;
    font-size: 3.5vw;
    width: 100%;
    margin: 5% 0;
    padding-left: 5%;
    text-align: left;
    cursor: pointer;
  }

  .vesti-nastani div .vest-nastan .naslov:hover {
    text-decoration: underline;
  }
  .vesti-nastani div .vest-nastan .objaveno {
    flex-direction: row;
    justify-content: left;
    font-size: 1.8vw;
    width: 100%;
    color: rgb(102, 102, 102);
    margin-bottom: 2%;
  }
  .vesti-nastani div .vest-nastan .objaveno i {
    width: auto;
    height: auto;
    margin: 0 2%;
  }
  .vesti-nastani .povekje {
    height: fit-content;
  }
  .vesti-nastani .povekje button {
    border: 0;
    background-color: rgb(8, 80, 109);
    color: white;
    font-size: 4vw;
    padding: 1.5vw 0;
    width: 60%;
    border-radius: 2vw;
    margin: auto;
    cursor: pointer;
  }

  .social-links {
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom: 0;
    left: 0.5%;
    justify-content: space-evenly;
    align-items: center;
    height: 150px;
  }

  .social-links a {
    font-size: calc(100% + 10px);
    color: black;
  }

  footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2% 5%;
  }
  footer .adresa p {
    line-height: 250%;
    color: rgb(73, 73, 73);
  }
  footer .adresa a {
    color: rgb(73, 73, 73);
    text-decoration: none;
    cursor: pointer;
  }
  .copyright {
    text-align: center;
    font-weight: bold;
  }
  footer .contact {
    width: 100%;
  }
  footer .contact form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
  }
  footer .contact input,
  footer .contact textarea {
    border: 0;
    border-bottom: 2px solid gray;
    font-size: 18px;
    width: 100%;
    outline: 0;
  }

  footer .contact input:hover,
  footer .contact textarea:hover {
    border-bottom: 2px solid rgb(56, 56, 56);
  }

  footer .contact p {
    color: gray;
    font-size: 18px;
  }

  footer .contact .email button {
    border: 0;
    background-color: white;
    font-size: 20px;
    margin: 5% 50%;
    transform: translateX(-50%);
    color: maroon;
    font-weight: bold;
    cursor: pointer;
  }
  .gimnazijaInfo {
    width: 100%;
    margin: auto;
  }
  .gimnazijaInfo img {
    width: 100%;
    height: 25vw;
    object-fit: cover;
  }

  .gimnazijaInfo p {
    text-align: justify;
    font-size: 2vw;
    padding: 0 5%;
  }
  .gimnazijaInfo p i {
    font-size: 2.2vw;
  }
  .gimnazijaInfo p b {
    font-size: 2.4vw;
  }

  .notifikacii {
    width: 100vw;
    padding: 0 5%;
    box-sizing: border-box;
  }
  .notifikacija {
    display: flex;
    flex-direction: row;
    width: 100%;
    border: 1px solid black;
    box-sizing: border-box;
    margin-bottom: 2%;
  }
  .notifikacija .left {
    display: flex;
    flex-direction: column;
    width: 95%;
    padding: 1% 0 0 2%;
  }
  .notifikacija .left .tekst {
    width: 95%;
    font-size: 2.2vw;
    text-align: justify;
  }
  .notifikacija .left .pratena {
    width: 100%;
    padding: 1% 0 0.5%;
  }
  .notifikacija .left .pratena p {
    margin: 0;
    color: gray;
    font-size: 1.6vw;
  }

  .notifikacija .right {
    display: flex;
    align-items: center;
    width: 5%;
    padding-right: 2%;
  }
  .notifikacija .right .delete {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }
  .notifikacija .right .delete a {
    color: darkred;
    font-size: 3vw;
  }
  .notifikacija .right .delete a:hover {
    font-size: 3.4vw;
  }
  .RegisterLogin {
    display: flex;
    width: 90vw;
    height: 85vh;
    box-sizing: border-box;
    background: rgba(223, 220, 220, 0.623);
    margin: 4% auto;
    flex-direction: column;
    border-radius: 2vw;
  }
  .RegisterLogin .choice {
    display: inherit;
    width: 100%;
    margin: 2%;
    justify-content: start;
    align-items: center;
    box-sizing: border-box;
  }
  .RegisterLogin button {
    padding: 2vw 5vw;
    border-radius: 5vw;
    cursor: pointer;
    font-weight: bold;
    font-size: 2vw;
    margin: 0 2%;
    background-color: rgb(191, 205, 207);
    border: 0;
  }
  .RegisterLogin button:hover {
    background-color: rgb(202, 218, 212);
  }
  .RegisterLogin .neznam {
    display: inherit;
    flex-direction: row;
    width: 100%;
    height: 80%;
    justify-content: space-around;
  }
  .RegisterLogin .choice .right {
    display: inherit;
    width: 45vw;
    justify-content: right;
  }
  .RegisterLogin .choice .right a {
    color: black;
    font-size: 3.5vw;
  }
  .RegisterLogin .choice .right a:hover {
    color: rgb(95, 95, 95);
  }
  .RegisterLogin .neznam .text {
    width: 48%;
    background-color: rgb(220, 220, 220);
    padding: 0 2%;
    box-sizing: border-box;
    border-radius: 2vw 0 0 2vw;
  }
  .RegisterLogin .neznam .text h1 {
    font-size: 4vw;
  }
  .RegisterLogin .neznam .text p {
    font-size: 2vw;
    text-align: justify;
  }
  .RegisterLogin .neznam .main {
    width: 48%;
    height: 100%;
    background-color: rgb(220, 220, 220);
    border-radius: 0 2vw 2vw 0;
  }
  .RegisterLogin .neznam .main form {
    display: flex;
    flex-direction: column;
    padding: 5%;
    box-sizing: border-box;
  }
  .RegisterLogin .neznam .main form #register {
    flex-direction: column;
  }
  .RegisterLogin .neznam .main input {
    margin: 2% 0;
    font-size: 2vw;
    padding: 1%;
    border: 0;
    border-bottom: 1px solid black;
    background-color: rgb(220, 220, 220);
    color: black;
    outline: 0;
  }
  .RegisterLogin .neznam .main input::placeholder {
    color: black;
  }
  .RegisterLogin .neznam .main select {
    background-color: rgb(220, 220, 220);
    border: 0;
    font-size: 2vw;
    font-weight: bold;
    outline: 0;
  }
  .RegisterLogin .neznam .main .neznam2 {
    margin-top: 2%;
  }
  .RegisterLogin .neznam .main .neznam2 button {
    padding: 1.5vw 3vw;
    font-size: 1.5vw;
    background-color: rgb(255, 255, 255);
  }
  .RegisterLogin .neznam .main .neznam2 button:hover {
    background-color: rgb(241, 241, 241);
  }
  .RegisterLogin .neznam .main .neznam2 #resetPassword {
    font-size: 1.5vw;
    display: none;
    margin-top: 2vw;
  }
  .strukiHeader {
    font-size: 4vw;
  }
  .struki {
    display: flex;
    width: 100%;
    margin: auto;
    flex-wrap: wrap;
  }
  .struki .struka {
    display: flex;
    background-color: whitesmoke;
    flex-direction: row;
    width: 48%;
    padding: 1%;
    box-sizing: border-box;
    justify-content: space-evenly;
    margin: 1%;
  }
  .struki .struka .ikona {
    display: flex;
    align-items: center;
    width: 20%;
  }
  .struki .struka .ikona img {
    width: 6vw;
    font-size: 1.5vw;
  }
  .struki .struka .podatoci {
    flex-direction: column;
    width: 85%;
  }
  .struki .struka .podatoci .ime {
    font-weight: bold;
    font-size: 2.3vw;
  }
  .struki .struka .podatoci .deskripcija {
    font-size: 1.7vw;
    margin-top: 1vw;
  }
  .upisi {
    box-sizing: border-box;
    padding: 1%;
    overflow: auto;
  }
  .upisi h1 {
    font-size: 4vw;
  }
  .upisi ul li {
    font-size: 1.7vw;
    margin: 3vw 0;
    text-align: justify;
  }
  .functions {
    display: flex;
    width: 100vw;
    box-sizing: border-box;
    padding: 0 2%;
    justify-content: space-between;
  }
  .functions .funkcija {
    display: inherit;
    flex-direction: column;
    width: 40%;
    justify-content: center;
  }
  .functions .funkcija .deskripcija {
    color: gray;
    font-size: 1.4vw;
  }
  .functions .funkcija button {
    width: 70%;
    padding: 0.5vw 2vw;
    font-size: 1.4vw;
    background: white;
    cursor: pointer;
  }
  .functions .funkcija button:hover {
    background: rgb(238, 238, 238);
  }
  #kreacija {
    display: none;
    justify-content: space-evenly;
    width: 96vw;
    box-sizing: border-box;
    margin: 2vw auto;
    border: 2px solid black;
    padding-bottom: 2%;
  }
  #kreacija p {
    font-size: 1.4vw;
  }
  #kreacija div {
    width: 30%;
  }
  #kreacija .naslov input,
  #kreacija .sodrzina input {
    width: 90%;
    padding: 1%;
    font-size: 1.4vw;
    border: 0;
    outline: 0;
    border-bottom: 1px solid black;
  }
}

@keyframes fade-in {
  0% {
    width: 0;
  }
  100% {
    width: 40vw;
  }
}
@keyframes fade-out {
  0% {
    width: 40vw;
  }
  100% {
    width: 0;
  }
}
